:root {
    --lilac: #E096E7;
    --vlilac: #8d477e;
    --jet: #343434;
    --jet-glossy: #343434bd;
    --mint: #F3FFFB;
    --mint-glossy: #f3fffb2a;
}

@font-face {
    font-family: Backslash;
    font-weight: 300;
    src: url("../assets/fonts/Backslash-RpJol.otf") format("opentype");
}

@font-face {
    font-family: Astrospace;
    src: url("../assets/fonts/AstroSpace-0Wl3o.otf") format("opentype");
}

@font-face {
    font-family: Agelast;
    src: url("../assets/fonts/Agelast-mLlAm.otf") format("opentype");
}

@font-face {
    font-family: XHeighting;
    src: url("../assets/fonts/XHeighting-7BB4l.ttf") format("truetype");
}
body,
html {
    /* Sizing */
    margin: 0;
    padding: 0;
    
    width: 100%;
    height: 100%;
    
    /* Text */
  font-size: 20px;
  color: var(--mint);
  font-weight: 300;
  font-family: 'Kanit', sans-serif;
  
  /* Background */
  background-color: var(--jet-glossy);
  background-image: url("../assets/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  
  
  /* Scrollbar */
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-width: none; 
  -ms-overflow-style: none;  
  
}

body,html:-webkit-scrollbar { 
    /* Scrollbar hiding */
    display: none;
    height: 0;
    width: 0;
}

/* Formatting */
img{
    margin-top: 32px;
}

h1, h2, h3{
    font-family: XHeighting;
    font-weight: 200;
    margin-top: 32px;
    margin-bottom: 8px;
    color: var(--mint);
    text-decoration: underline 1.5px var(--lilac);
}

h1{
    font-size: 3em;
}


.text {
    padding: 8px 20px;
    font-weight: 400;
}
#navBar{
    
    padding: 32px;
    margin-top: 0;
    margin-bottom: 0;
    
    background-color: var(--mint-glossy);
    
    font-size: 18px;
    font-weight: 400;
    font-size: 20px;
    
    border-bottom: px solid white;
    border-radius: 0px 0 18px 18px;
    

    box-shadow: 0px 0px 20px 1px #000;
    
    backdrop-filter: blur(1px);

    transition: 2s ease;
}

.navLinks{
    margin-right: 2em;
    text-decoration: none;
    color: var(--mint);

    transition: 0.2s ease;
}

.navigations{
    padding-top: 6px;
    float: right;
    font-weight: 100;

}

.navLinks:hover{
    text-shadow: 0px 0px 16px #fff;
}

#navBar:hover{
    box-shadow: 0px 0px 20px 1px #fff;

}

#navCentered{
    font-family: Backslash;
    font-weight: 300;
    font-size: 32px;
}


#title h1, #title h2{
    text-align: left;
    margin: 0em;
    color: var(--mint);
}

#name{
    font-family: XHeighting;
    font-weight: 300;
    font-size: 10em;
    text-align: left;
    padding: 80px 0.5em 0 0.5em;
    
    animation: fadein 2s ease-in,  glow 3s ease-in-out infinite alternate;
}


#subtitle{
    font-family: 'Kanit', sans-serif;
    font-weight: 100;
    font-size: 5em;

    padding: 0em 1em 80px 1em;

    animation: fadein 4s ease-in, glow-reverse 3s ease-in-out infinite alternate;
}
#content{
    background-color: var(--mint-glossy);
    backdrop-filter: blur(0.4px);

    width: 80vw;
    text-align: center;
    margin-top: 32px;
    margin-bottom: 16px;
    padding: 16px;

    border: 0px solid #fff;
    border-radius: 0 32px 32px 0;
    box-shadow: 0px 0px 20px 0px #000;

    backdrop-filter: blur(1px);
    transition: 2s ease;
}

#content:hover{
    box-shadow: 0px 0px 20px 0px #fff;

}
a#redirect {
    text-decoration: none;
    text-decoration: underline 3px var(--lilac);
    
    color: var(--mint);
    font-weight: 400;
    
}

#cards{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    
    margin: 1em 2em;
}


.card {
    text-decoration: none;
    color: var(--jet);
    display: inline-block;
    text-decoration: none;
    width: 15vw;
    margin: 2em 2px;
    
    border: 1px solid #ddd;
    box-shadow: 0px 0px 5px -1px #ccc;
    
    background-color: var(--jet);
    color: var(--mint);
    transition: 0.6s ease;
}

.card img{
    margin: 0 auto;
    width: 100%;
    height: 15vw;
}


.cardCaption{
    text-align: center;
    text-decoration: none;
    color: var(--mint);
    margin: 12px;
    margin-bottom: 24px;

    font-size: 16px;
    font-weight: 300;

    transition: 0.6s ease;
    
}

.ccontainer{
    margin: 0;
}

.card:hover{
    background-color: var(--mint);
    transform: scale(1.05);
    color: var(--vlilac);

    box-shadow: 0px 0px 25px 2px #fff;
    
}

.card:hover .cardCaption{
    color: var(--vlilac);
    font-weight: 500;
}



input[type="button"],
button {
  padding: 0.7em;
  cursor: pointer;
  font-weight: 600;
  border-radius: 0.5em;
  color: var(--mint);
  background-color: var(--jet);
  border: 2px solid var(--mint);
  transition: 0.2s ease;
}

input[type="button"]:hover {
  background-color: var(--mint-glossy);
  color: var(--jet);
  border-color: var(--lilac);
}




#pfp{
    margin: 24px 64px 8px 64px;
    margin-top: 32px;
    margin-bottom: 16px;
    
    width: 300px;
    height: 300px;
    
    border: 1px solid #fff;
    border-radius: 256px;
    
    box-shadow: 0px 0px 15px -1px #000;

    transition: 0.6s ease;
}

#pfp:hover{
    box-shadow: 0px 0px 15px 3px #fff;
    transform: scale(1.05);

}





@media only screen and (max-width: 1400px){

    #title{
        font-size: 1.25vw;
    }

    #name{
        padding: 1vw;
    }

    #subtitle{
        padding: 1vw;
    }

}

@media only screen and (max-width: 1080px ){
    h1{
        font-size: 5vw;
    }

    h2{
        font-size: 4vw;
    }

    h3{
        font-size: 3vw;
    }

    #navBar{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;

        padding: 4.5vw 8vw;
        margin-bottom: 3vw;
        
        z-index: 10;

        background-color: var(--jet);
    }
    #navCentered{
        font-size: 6vw;
        margin: 0;
        animation: glow-reverse 3s ease-in-out infinite alternate;
    }
    .text{
        font-size: 3vw;
        padding: 4px 20px;
    }

    .navigations{
        display: none;
    }

    .navLinks {
        margin: 12px;
    }


    #name{
        padding: 25vw 2vw 2vw 2vw;
    }

    #subtitle{
        padding: 0vw 2vw 12vw 3vw;
    }

    #content{
        width: fit-content;
        text-align: center;
        padding: 32px;
        border-radius: 0;
        margin-top: 0;
    }

    #pfp{
        height: 30vw;
        width: 30vw;

        animation: glow 10s ease-in-out infinite alternate;
    }

    

    .card{
        width: 35vw;
        margin: 16px 2px;
    }

    .card img{
        height: 35vw;
    }

    .cardCaption{
        font-size: 3vw;
    }
}


@-webkit-keyframes glow{
    from{
    text-shadow: 0px 0px 12px #fff;
    }

    to {
    text-shadow: 0px 0px 2px #fff;

    }
}

@keyframes glow{
    from{
        text-shadow: 0px 0px 12px #fff;
        }
    
        to {
        text-shadow: 0px 0px 2px #fff;
    
        }
}

@-moz-keyframes glow{
    from{
        text-shadow: 0px 0px 12px #fff;
        }
    
        to {
        text-shadow: 0px 0px 2px #fff;
    
        }
}

@-ms-keyframes glow-reverse{
    from{
        text-shadow: 0px 0px 12px #fff;
        }
    
        to {
        text-shadow: 0px 0px 2px #fff;
    
        }
}

@-webkit-keyframes glow-reverse{
    from{
    text-shadow: 0px 0px 2px #fff;
    }

    to {
        text-shadow: 0px 0px 12px #fff;
    }
}

@keyframes glow-reverse{
    from{
        text-shadow: 0px 0px 2px #fff;
        }
    
        to {
            text-shadow: 0px 0px 12px #fff;
        }
}

@-moz-keyframes glow-reverse{from{
    text-shadow: 0px 0px 2px #fff;
    }

    to {
        text-shadow: 0px 0px 12px #fff;
    }}

@-webkit-keyframes fadein{
    from {
        opacity: 0;
    }

    to { opacity: 1;}
}

@-webkit-keyframes fadein-delayed{
    0% {
        opacity: 0;
    }

    50% { opacity: 0;}

    100% {opacity: 1;}
}